title: Fancy pre-packaged foods
author: Autumn Welles
date: 10-12-2014
headline: Spicing up easy meals.

{% extends "post.html" %}
{% block body %}

{% filter markdown %}

I love macaroni and cheese. I used to eat it all the time growing up, and it's such an easy meal. Making the cheese sauce is a pain, so I usually just buy boxed. My absolute favorite is the Earth Fare brand organic version. The sauce is much more creamy, rather than liquidy, compared to Kraft or even Annie's. Still, I thought it could use a bit more, so I started adding extra ingredients to spice things up.

You can also do this with plenty of other pre-packaged foods. It doesn't make them that much more healthy for you, but it does make them more delicious! Ramen is another great one to experiment with.

## Fancy macaroni and cheese

- sour cream
- plain greek yogurt
- paprika
- dijon
- scallions

## Fancy ramen noodles

- substitute some or all of the water for vegetable stock
- sriracha sauce
- poached egg
- scallions
- spinach
- chopped onion
- minced garlic

{% endfilter %}
{% endblock body %}