title: Hello world
author: Autumn Welles
date: 06-12-2014
headline: An introduction.

{% extends "post.html" %}
{% block body %}

{% filter markdown %}

Hi.

I've tried blogging before, but I've never been very good about keeping up with it. I'm trying to fix that. So, a little bit about the things in my life that actually matter.

## Web development
I started writing code (HTML &amp; CSS) in the seventh grade. I never really stopped. I'm entirely self-taught, with a lot of help from Internet strangers (just like you!). I'm a front-end web developer, and I've been doing that professionally—on and off—since I was 19 years old.

## Dog training
Like web development, I started young! I inherited my first dog (from my mother) when I was about 12 years old. She was rehomed at 8 years, for other reasons, and I went basically dog-less for over five years. It was horrible. I currently have two dogs. Gambit is a spunky 3½ year old terrier mutt. Loki is a spazztastic 1½ year old Australian Shepherd. They're both rescues. They both have their good and bad habits. I love 'em to pieces.

## Running
I'm running a half marathon on March 15, 2015. I've never run a half marathon, but it can't be too hard, right?

## Tiny house
Someday, I want to have a tiny house. I'm slowly building up enough money to start working on one have my boyfriend, Ian, start working on one. This is a big, scary commitment to me, and not something I take lightly. Once I've started, it's going to be a trailer that I'll either have to park somewhere or get rid of. I'm not good with big commitments.

## Cooking
I'm trying to cook at home more. It's something I've always wanted to do, and I am hoping that by sharing my experiences here, I'll be more motivated to do so. Who knows if that plan will actually work.

## Travel
I used to travel a lot. I don't so much any more (partly because of the dogs). I'd like to change that. I'm already scheduled to fly out to San Francisco and hang out with my good friend Dustin, so that will be a nice break. I'd also like to do some camping once spring rolls around.

---

I'm sure there are other things I'll talk about on this blog, but those are some good starting points.

Bye!

{% endfilter %}
{% endblock body %}
