title: WIWO Mondays
author: Autumn Welles
date: 08-12-2014
headline: What I'm working on.

{% extends "post.html" %}
{% block body %}

{% filter markdown %}

This post will get updated each week with what I'm working on. The idea was totally stolen from [Emalee Soddy](http://wickedleaf.com/blog).

---

- **Health:** Stick to my running schedule. 2/4 runs already complete for this week. Also need to wake up by no later than 7am.
- **Career:** Make progress on the Teamworks registration system. This is vague, I know, but I'm not sure which part I want to work on yet.
- **House:** Cook at least three meals at home this week. Bring lunch at least three days this week (already have today's!). Bake another loaf of honey wheat bread.
- **Hobbies:** Tonight is Loki's last agility class of the season, which means I need to set up a training schedule for the off months and sign him up for next year's January class.
- **Wellbeing:** Get back into the habit of doing yoga before bed.

{% endfilter %}
{% endblock body %}
